footer.footer
  .container.copy
    .columns
      .column
        h3.is-size-3 Antora
        p A documentation pipeline that enables docs, product, and engineering teams to create, manage, remix, and publish documentation sites composed in AsciiDoc and sourced from multiple versioned content repositories.
        p.has-text-grey.is-small
          |&#169; #{Time.now.year} OpenDevise Inc. and the individual contributors to Antora.
        p.has-text-grey.is-small
          a> href='https://gitlab.com/antora/antora/-/blob/HEAD/CODE-OF-CONDUCT.adoc' Code of Conduct
          '-
          => link_to 'Terms of Use', 'legal/terms-of-use'
          '-
          => link_to 'Privacy', 'legal/privacy-policy'
          '-
          = link_to 'Legal', 'legal/index'
      .column.oss
        h4 Antora OSS
        / NOTE level-item has margin problems, so don't use
        .box
          .level.is-mobile
            .level-left : p.title.is-size-5 : a href='https://gitlab.com/antora/antora' Antora
            .level-right : a href='https://gitlab.com/antora/antora' : i.fa.fa-gitlab
          p A modular, multi-repository documentation site generator designed for DevOps-savvy documentation teams who are looking to get the most from their AsciiDoc content.
        .box
          .level.is-mobile
            .level-left : p.title.is-size-5 : a href='https://gitlab.com/antora/antora-ui-default' Antora Default UI
            .level-right : a href='https://gitlab.com/antora/antora-ui-default' : i.fa.fa-gitlab
          p An archetype UI for documentation sites assembled and published by Antora.
      .column.oss
        h4 Asciidoctor OSS
        / NOTE level-item has margin problems, so don't use
        .box
          .level.is-mobile
            .level-left : p.title.is-size-5 : a href='https://asciidoctor.org' Asciidoctor
            .level-right : a href='https://github.com/asciidoctor' : i.fa.fa-github
          p A fast text processor and publishing toolchain for converting AsciiDoc content to HTML5, DocBook, PDF, and other formats.
        .box
          .level.is-mobile
            .level-left : p.title.is-size-5 : a href='https://github.com/asciidoctor/asciidoctor.js' Asciidoctor.js
            .level-right : a href='https://github.com/asciidoctor/asciidoctor.js' : i.fa.fa-github
          p Asciidoctor.js brings AsciiDoc to the JavaScript world.
